@using MovieShop.Features.Home
@using MovieShop.Models.ViewModels
@using MovieShop.Features.ShoppingCart
@using MovieShop.Domain.MediaR;
@using MovieShop.Foundation.Helpers
@model PageViewModel<ShoppingCartPage, CartContentResponce>

<div class="shooping-cart">

    @foreach (var item in Model.CurrentData.LineItems)
    {
        <div class="shooping-cart-item">
            <div class="cart-item-left">
                <img src="@Html.MovieDbImage(item.ImageUrl,200)" />
            </div>
            <div class="cart-item-center">
                @item.DisplayName
            </div>
            <div class="cart-item-right">

                @if (item.HasDiscount)
                {
                    <div class="dicount-nomal-price">@item.Price</div>
                    <div>@item.DiscountPrice</div>
                }
                else
                {
                    <br />
                    <div>@item.Price</div>
                }
            </div>
        </div>
    }
</div>