@using MovieShop.Features.Home
@using MovieShop.Models.ViewModels
@using MovieShop.Domain.Commerce.Products;
@using MovieShop.Foundation.Helpers
@using MovieShop.Domain.MediaR;
@model  CatalogViewModel<MovieProduct, HomePage, VariantsResponce>

<div class="product">
    <div class="product-left">
        <img class="work-feature-block-image" src="@Html.MovieDbImage(Model.CurrentContent.PosterPath,400)" />
    </div>
    <div class="product-center">
        <h2 class="work-feature-block-header">@Html.PropertyFor(x => x.CurrentContent.OriginalTitle)</h2>

        @if (Model.CurrentData.Any())
        {            
            <ul class="media-list">
                @foreach (var item in Model.CurrentData.Variants)
                {
                    <li>
                        <a href="@(Model.CurrentData.IsPrimaryVariant(item) ? "javascript:void(0)" : "?code=" +item.Code)">
                            <div class="horizontal-list-box @(Model.CurrentData.IsPrimaryVariant(item) ? "active":"")">
                                <div>@item.DisplayName</div><br />
                                <div>@item.Price</div>
                            </div>
                        </a>
                    </li>
                }
            </ul>         
        }
        <p>@Html.PropertyFor(x => x.CurrentContent.Summery)</p>
        <h2>Details</h2>
        <ul>
            <li>ReleaseDate @Html.PropertyFor(x => x.CurrentContent.ReleaseDate)</li>
            <li>Item 2</li>
            <li>Item 3</li>
            <li>Item 4</li>
        </ul>
    </div>
    <div class="product-right">
        <div>buy section</div>
        <add-to-basket butten-label="Add to cart" sku="@Model.CurrentData.ActiveVariant.Code" hover-text="add @Model.CurrentData.ActiveVariant.Name to the cart"></add-to-basket>
    </div>
</div>