@using MovieShop.Infrastructure.Helpers
@model MovieShop.Models.ViewModels.ILayoutViewModel
<!doctype html>
<html class="no-js" lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@Model.Title</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="@ScriptFingerprint.Tag("/Static/dist/main.css")" rel="stylesheet" />

    <script>
        var appConfig = {
            'cartApiUrl': '@Model.CartApiUrl'
        }
    </script>
</head>
<body>
    <div id="app">
        @Html.Partial("_Navigation")
        @RenderBody()
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="@ScriptFingerprint.Tag("/Static/dist/app.js")"></script>
</body>
</html>