@model MovieShop.Models.ViewModels.IMenuViewModel
<nav>
    <div class="primary-navigation">
        <div class="nav-left">
            <div id="menuToggle">
                <input type="checkbox" />
                <span></span>
                <span></span>
                <span></span>
                <ul id="menu">
                    @if (Model.ShowRecommendTitle())
                    {
                        @Model.RecommendTitle
                        foreach (var recommend in Model.Recommend)
                        {
                            <a href="@Html.ContentLink(recommend.Link)"><li>@recommend.Title</li></a>
                        }
                    }
                    @if (Model.ShowCategoriesTitle())
                    {
                        @Model.RecommendTitle

                    }
                    @foreach (var categories in Model.Categories)
                    {
                        <li><a href="@Url.ContentUrl(categories.Link)">@categories.Title</a></li>
                    }
                </ul>
            </div>
            <img src="https://via.placeholder.com/80x40.png?text=logo" />
        </div>
        <div class="nav-center"> <autocompleate></autocompleate></div>
        <div class="nav-right">
            <div>more stof</div>
            <div>               
                <a href="@Model.CartUrl">
                    <img src="~/Static/images/Shopping-Cart-icon.png" />
                    <shoppingcartquantity></shoppingcartquantity>
                </a>
            </div>
        </div>
    </div>
    <div class="secondary-navigation">
        <a href="default.asp">Home</a>
        <a href="news.asp">News</a>
        <a href="contact.asp">Contact</a>
        <a href="about.asp">About</a>
    </div>
</nav>